IDI_APP_ICON           ICON           "assets\\icon.ico"
200                    900            "..\\core\\app\\shaders\\default.vert"
201                    900            "..\\core\\app\\shaders\\default.frag"
202                    900            "..\\core\\app\\assets\\MenuAtlas,0,255,255,255,0.0000.glyphs.matrix"
203                    900            "..\\core\\app\\assets\\MenuAtlas,0,255,255,255,0.0000.png"
204                    900            "..\\core\\app\\assets\\Nobile.ttf,32,255,255,255,0.0000.glyphs.matrix"
205                    900            "..\\core\\app\\assets\\Nobile.ttf,32,255,255,255,0.0000.png"
206                    900            "assets\\ChessPieces1,0,255,255,255,0.0000.glyphs.matrix"
207                    900            "assets\\ChessPieces1,0,255,255,255,0.0000.png"
208                    900            "assets\\board1.png"
209                    900            "assets\\capture.wav"
210                    900            "assets\\illegal.wav"
211                    900            "assets\\lose.wav"
212                    900            "assets\\move.wav"
213                    900            "assets\\start.wav"
214                    900            "assets\\win.wav"